.container {
  width: 100%;
  padding: 1rem .75rem;
  display: flex;
  align-items: flex-start;
  background-color: var(--gray-500);
  border-radius: .5rem;

  .open {
    margin-left: 1rem;
    flex: 1;
    text-align: start;
    color: var(--gray-100);
  }

  .completed {
    margin-left: 1rem;
    flex: 1;
    text-align: start;
    text-decoration: line-through;
    color: var(--gray-300);
  }

  .checkBg {
    padding: .1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }

  .trashBg {
    padding: .5rem;
    margin-left: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .3rem;
    transition: all .2s;

    &:hover {
      background-color: var(--gray-400);
      color: var(--red-500);
    }
  }
}